name: Deploy to Vercel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: repo

      - name: Debug: show runner filesystem
        run: |
          echo "PWD:" && pwd
          echo "List workspace root:" && ls -la
          echo "List repo folder:" && ls -la repo || true
          echo "List repo/my-app:" && ls -la repo/my-app || true


      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          npm --prefix repo/my-app install --legacy-peer-deps

      - name: Build
        run: |
          npm --prefix repo/my-app run build

      - name: Vercel Deploy
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-args: '--prod'
          working-directory: 'repo/my-app'
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
